@model DonationViewModel

<h2>Добавяне на дарение</h2>

<div class="form-container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddDonation" method="post">
                <div class="form-group">
                    <label for="BloodDonorId">Кръводарител</label>
                    <select asp-for="BloodDonorId" asp-items="ViewBag.BloodDonors" class="form-control">
                        <option value="">-- Изберете кръводарител --</option>
                    </select>
                    <span asp-validation-for="BloodDonorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Quantity">Количество (мл)</label>
                    <input type="number" min="100" max="450" asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <p></p>
                <button type="submit" class="btn btn-primary">Добави дарение</button>
                <a asp-action="History" asp-controller="DonationHistory" class="btn btn-secondary">Отказ</a>
            </form>
        </div>
    </div>
</div>
