@model IEnumerable<DonationHistory>

<section class="section-container">
    <div class="container-text text-title">
        <h1>Моята история на дарения</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Дата на дарение</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="2" class="text-center text-danger">Все още нямате дарения.</td>
                </tr>
            }
            else
            {
                @foreach (var donation in Model)
                {
                    <tr>
                        <td>@donation.DonationDate.ToShortDateString()</td>
                        <td>@donation.Quantity ml</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</section>
