@model BloodCenter.Models.ViewModels.BloodDonorViewModel

@{
    ViewData["Title"] = "Редактиране на кръводарител";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditBloodDonor">
            <h2>Редактиране.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName">Потребителско име</label>
                <input asp-for="UserName" class="form-control" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Електронна поща</label>
                <input asp-for="Email" type="email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName">Име</label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Фамилия</label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">Нова Парола</label>
                <input asp-for="NewPassword" class="form-control" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age">Възраст</label>
                <input asp-for="Age" type="number" min="18" class="form-control"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="BloodGroupsId">Кръвна група</label>
                <select asp-for="BloodGroupsId"
                        asp-items="@ViewBag.BloodGroups"
                        class="form-control">
                    <option selected class="fw-bold">Кръвна група</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="RhesusFactor"></label>
                <select asp-for="RhesusFactor" class="form-control">
                    <option value="+">Положителен (+)</option>
                    <option value="-" selected="@(Model.RhesusFactor == '-')">Отрицателен (-)</option>
                </select>
                <span asp-validation-for="RhesusFactor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contacts">Контакти</label>
                <input asp-for="Contacts" class="form-control" required />
                <span asp-validation-for="Contacts" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="Password" value="@Model.Password" />
            <p></p>
            <button type="submit" class="btn btn-primary">Запази</button>
            <a asp-action="AdminPanel" asp-controller="Admin" class="btn btn-secondary">Отказ</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

