<section class="section-container-supply">
    <div class="container-text">
        <h1>Наличности на кръв</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Кръвна група</th>
                    <th>Резус-фактор</th>
                    <th>Количество (сак)</th>
                    <th>Дата на актуализация</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || !(Model as List<Availability>)?.Any() == true)
                {
                    <tr>
                        <td colspan="9" class="text-center text-danger">Няма наличности.</td>
                    </tr>
                }
                else
                {
                    @foreach (var supply in Model)
                    {
                        <tr>
                            <td>@supply.BloodGroup.Name</td>
                            <td>@supply.RhesusFactor</td>
                            <td>@supply.Quantity</td>
                            <td>@supply.LastUpdated.ToShortDateString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>