<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Кръводарителски център</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BloodCenter.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #c92838 !important;
        }

        .navbar-brand, .nav-link {
            color: white !important;
        }

            .navbar-brand:hover, .nav-link:hover {
                color: #2f0cf5 !important;
            }

        .footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

            .footer a {
                color: white;
                text-decoration: none;
            }

                .footer a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Кръводарителски център</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("MedicalSpecialist"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="AdminPanel">Кръводарители</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="MedicalSpecialist" asp-action="MedicalSpecialist">Медицински специалисти</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("MedicalSpecialist"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="DonationHistory" asp-action="History">Дарения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Supply" asp-action="BloodInventory">Наличности</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Requests" asp-action="Index">Заявки</a>
                            </li>
                        }
                        @if (User.IsInRole("Donor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="DonationHistory" asp-action="MyDonations">Моите дарения</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <p></p>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @* <footer class="footer mt-4">
        <div class="row">
            <div class="container">
                &copy; 2025 - Кръводарителски център - <a asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
            </div>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
